body,
h1,
h2,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

h1 {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
}

p {
	background-color: none;
	color: #ffff;
	padding: 5px;
	text-align: center;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(15, 15, 15, 0.65);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
}

footer {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF5733;
}

.container::-webkit-scrollbar {
	width: 12px;
}

.container::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 25px;
}

.ad-container {
	background-color: rgba(15, 15, 15, 0.65);
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #ddd;
	border-radius: 25px;
}

.ad-image {
	max-width: 50%;
	height: auto;
}

.modern-hr {
	border: none;
	height: 2px;
	margin: 20px 0;
}

.image {
	background-image: url("https://media.discordapp.net/attachments/1039308604148293682/1161383768775467138/landscape-vector-art-vector-minimalism-simple-hd-wallpaper-797028ad312a7d0b5607c8ef7081c6cd.png");
	filter: blur(1px);
	height: 100vh;
	background-color: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.learn-more-button {
	background-color: none;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.learn-more-button:hover {
	background-color: #555;
}


