body,
h1,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

.image {
	background-image: url("https://media.discordapp.net/attachments/1039308604148293682/1162026947090600027/Z.png");
	filter: blur(2px);
	height: 100vh;
	background-color: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

h1 {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
}


body {
	font-family: 'Poppins', sans-serif;
	background-color: #f5f5f5;
	color: #333;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(15, 15, 15, 0.65);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.photo-showcase {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.photo-item {
	width: 30px;
	height: 130px;
	background-color: rgba(15, 15, 15, 0.65);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	flex-basis: calc(33.33% - 20px);
	overflow: hidden;
	text-align: center;
	position: relative;
}

.photo-item:nth-child(3n) {
	margin-right: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.photo-item img {
	max-width: 100%;
	height: auto;
	vertical-align: auto;
}

footer {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF5733;
}

.custom-text {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	color: white;
	font-weight: 700;
	text-align: center;
}

.custom-button {
	background-color: #555;
	color: #fff;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
}

.custom-button:hover {
	background-color: #555;
}

.modern-hr {
	border: none;
	height: 2px;
	background: linear-gradient(to right, #ccc, #333, #ccc);
	margin: 20px 0;
}


