body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 1;
    margin-top: auto;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ADD8E6;
}


.modern-hr {
	border: none;
	height: 2px;
	/* Adjust the height as needed */
	background: linear-gradient(to right, #ccc, #333, #ccc);
	/* Gradient background */
	margin: 20px 0;
	/* Adjust margin as needed */
}

body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

.modern-h1 {
	font-family: "Arial", sans-serif;
	/* Choose a modern font */
	font-size: 36px;
	/* Adjust font size as needed */
	color: gray;
	/* Choose a text color */
	text-align: center;
	/* Center-align the text */
	letter-spacing: 1px;
	/* Adjust letter spacing as needed */
	margin-top: 1px;
	/* Add some top margin */
	background: none;
}

a {
	text-decoration: none;
	/* Remove underline */
	color: inherit;
	/* Inherit text color from parent */
}

/* Style for the modern anchor link */
.modern-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: rgba(15, 15, 15, 0.65);
	color: #fff;
	border-radius: 25px;
	text-align: center;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: rgba(15, 15, 15, 0.65);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    animation: glow 2s ease-in-out infinite alternate;
    position: sticky;
    top: 0;
    z-index: 1;
}


@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 87, 51, 0.8);
    }
}
.container::-webkit-scrollbar {
	width: 12px;
	/* Width of the custom scrollbar */
}

.container::-webkit-scrollbar-thumb {
	background-color: #333;
	/* Color of the scrollbar thumb */
	border-radius: 10px;
	/* Rounded corners of the thumb */
}

.file-list {
	text-align: left;
	padding: 10px;
	border-radius: 25px;
	margin-top: 20px;
}

.file-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.file-item:last-child {
	border-bottom: none;
	/* Remove border for the last item */
}

.file-info {
	display: flex;
	align-items: center;
}

.file-preview {
	max-width: 100px;
	max-height: 100px;
	/* Specify the maximum size for the preview */
	border: 1px solid #ccc;
	margin-right: 10px;
	cursor: pointer;
}

.file-name {
	flex-grow: 1;
	padding: 0 10px;
}

.download-link {
	background-color: rgba(15, 15, 15, 0.65);
	color: #fff;
	padding: 5px 10px;
	border-radius: 25px;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
}

.download-link:hover {
	background-color: #555;
}

/* Styles for the modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	margin: 10% auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.modal-content img {
	max-width: 90%;
	max-height: 80vh;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.modern-a {
	display: block;
	padding: 10px 20px;
	background-color: none;
	color: #000000;
	text-align: center;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.image {
	background-image: url("https://media.discordapp.net/attachments/1039308604148293682/1162026947090600027/Z.png");
	filter: blur(2px);
	height: 100vh;
	background-color: #333;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(15, 15, 15, 0.65);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	text-align: center;
	overflow: hidden;
  }